@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font_family: "Inter";
  --gold_bg: #fef0ae;
  --silver_bg: #e6e6e6;
  --bronze_bg: #ffe5cf;
  --count_gold: #ffc671;
  --color_warning: #e59347;
  --count_silver: #959292;
  --count_bronze: #fbaa6b;
  --muted_text: #90a0aa;
  --black_text_light: #36454f;
  --black_text: #1a1a1a;
  --full_black: #000;
  --student_text: #7792ab;
  --blue_text: #1f55a6;
  --green_text: #4d956a;
  /* --green_active: #198754; */
  --green_active: #48bb77;
  --physics_purple: #d90f7e;
  --finished_sticker: rgba(244, 54, 76, 0.12);
  --physics_orange: #ff9e44;
  --chemstry_orange: #f5821f;
  --sciense_orange: #fdb71c;
  --light_grey: #fafbfd;
  --active_txt: #f4364c;
  --danger_bg: #df0c25;
  --table_bg: #e2e7eb;
  --warning_bg: #ffc107;
  --info_color: #0dcaf0;
  --white_txt: #fff;
  --green_bg_verif_stick: rgba(70, 190, 82, 0.1);

  --font_regular_1: 400 12px var(--font_family);
  --font_regular_2: 400 14px var(--font_family);
  --font_regular_3: 400 16px var(--font_family);

  --font_bold_1: 500 12px var(--font_family);
  --font_bold_2: 500 14px var(--font_family);
  --font_bold_3: 500 16px var(--font_family);
  --font_bold_4: 500 20px var(--font_family);
  --font_bold_5: 600 12px var(--font_family);
  --font_bold_6: 600 14px var(--font_family);
  --font_bold_7: 600 16px var(--font_family);
  --font_bold_8: 600 20px var(--font_family);
  --font_bold_9: 600 24px var(--font_family);
  --font_bold_10: 600 30px var(--font_family);
  --font_bold_11: 700 14px var(--font_family);
  --font_bold_12: 700 20px var(--font_family);
}

body {
  background: #fafbfd;
  font-family: var(--font_family) !important;
}

p {
  margin-bottom: 0;
}

.fs_12 {
  font-size: 12px;
}

.fs_14 {
  font-size: 14px;
}

.fs_16 {
  font-size: 16px;
}

.fs_20 {
  font-size: 20px;
}

.fs_24 {
  font-size: 24px;
}

.fs_30 {
  font-size: 30px;
}

.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fw_600 {
  font-weight: 600;
}

.bg_gold {
  background-color: var(--gold_bg);
}

.bg_silver {
  background-color: var(--silver_bg);
}

.bg_bronze {
  background-color: var(--bronze_bg);
}

.bg_light_grey {
  background-color: var(--light_grey);
}

.border_light_grey {
  border: 1px solid var(--light_grey);
}

.price_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.muted_txt {
  color: var(--muted_text);
}

.bio_green {
  color: var(--green_active);
}

.physics_purple {
  color: var(--physics_purple);
}

.chemstry_orange {
  color: var(--chemstry_orange);
}

.sciense_orange {
  color: var(--sciense_orange);
}

.font_regular_1 {
  font: var(--font_regular_1);
}

.font_bold_1 {
  font: var(--font_bold_1);
}

.font_bold_5 {
  font: var(--font_bold_5);
}

.font_bold_8 {
  font: var(--font_bold_8);
}

.font_bold_7 {
  font: var(--font_bold_7);
}

.font_bold_9 {
  font: var(--font_bold_9);
}

.font_bold_2 {
  font: var(--font_bold_2);
}

.font_bold_6 {
  font: var(--font_bold_6);
}

.font_bold_12 {
  font: var(--font_bold_12);
}

.active_nav_item {
  color: var(--active_txt) !important;
}

.color_warning {
  color: var(--color_warning);
}

.bg_nav_tabs {
  background-color: var(--table_bg) !important;
  width: inline-block;
  color: #1a1a1a !important;
}

.color_black {
  color: var(--black_text);
}

.color_black_light {
  color: var(--black_text_light) !important;
}

.border_light_grey {
  border: 1px solid var(--light_grey);
}

.border_black_light {
  border: 1px solid var(--black_text_light) !important;
}

.color_gold {
  color: #ffc671 !important;
}

.color_silver {
  color: #959292 !important;
}

.color_bronze {
  color: #fbaa6b !important;
}

.physics_orange {
  color: var(--physics_orange);
}

.blue_text {
  color: var(--blue_text);
}

.count_gold {
  color: var(--count_gold);
  font-weight: 600;
}

.color_primary {
  color: var(--green_text);
}

.btn_primary {
  background-color: var(--green_text);
  border: 1px solid var(--green_text);
  color: var(--white_txt);
}

.btn_primary:hover {
  background-color: var(--green_active);
  border: 1px solid var(--green_active);
}

.btn_secondary {
  background-color: var(--black_text_light);
  border: 1px solid var(--black_text_light);
  color: var(--white_txt);
}

.btn_secondary:hover {
  opacity: 0.8;
}

.btn_light {
  background-color: var(--light_grey);
  border: 1px solid var(--light_grey);
  color: var(--black_text_light);
}

.btn_disabled {
  background-color: var(--black_text_light);
  border: 1px solid var(--black_text_light);
  opacity: 0.2;
  color: var(--white_txt);
}

.btn_danger {
  background-color: var(--active_txt);
  border: 1px solid var(--active_txt);
  color: var(--white_txt);
}

.btn_danger:hover {
  background-color: var(--danger_bg);
  border: 1px solid var(--danger_bg);
}

.btn_warning {
  background-color: var(--warning_bg);
  border: 1px solid var(--warning_bg);
  color: var(--full_black);
}

.btn_warning:hover {
  opacity: 0.8;
}

.btn_info {
  background-color: var(--info_color);
  border: 1px solid var(--info_color);
  color: var(--full_black);
}

.btn_info:hover {
  opacity: 0.8;
}

.overflow_x_h {
  overflow-x: hidden;
}

.outline_btn_primary {
  border: 1px solid var(--green_text);
  background-color: var(--white_txt);
  color: var(--green_text);
  transition-duration: 0.3s;
}

.outline_btn_primary:hover {
  background-color: var(--green_active);
  color: var(--white_txt);
}

.outline_btn_secondary {
  background-color: var(--white_txt);
  border: 1px solid var(--black_text_light);
  color: var(--black_text_light);
  transition-duration: 0.3s;
}

.outline_btn_secondary:hover {
  background-color: var(--black_text_light);
  color: white;
}

.outline_btn_info {
  background-color: var(--white_txt);
  border: 1px solid var(--info_color);
  color: var(--info_color);
  transition-duration: 0.3s;
}

.outline_btn_info:hover {
  background-color: var(--info_color);
  color: var(--full_black);
}

.outline_btn_danger {
  background-color: var(--white_txt);
  border: 1px solid var(--danger_bg);
  color: var(--danger_bg);
  transition-duration: 0.3s;
}

.outline_btn_danger:hover {
  background-color: var(--danger_bg);
  border: 1px solid var(--danger_bg);
  color: var(--white_txt);
}

.outline_btn_light {
  background-color: var(--white_txt);
  border: 1px solid var(--light_grey);
  color: var(--white_txt);
  transition-duration: 0.3s;
}

.outline_btn_light:hover {
  background-color: var(--light_grey);
  border: 1px solid var(--light_grey);
  color: var(--full_black);
}

.outline_btn_warning {
  background-color: var(--white_txt);
  border: 1px solid var(--warning_bg);
  color: var(--warning_bg);
  transition-duration: 0.3s;
}

.outline_btn_warning:hover {
  background-color: var(--warning_bg);
  color: var(--full_black);
}

.outline_btn_disabled {
  background-color: var(--white_txt);
  border: 1px solid var(--black_text_light);
  color: var(--black_text_light);
  opacity: 0.2;
}

.outline_btn_danger:hover {
  background-color: var(--danger_bg);
  border: 1px solid var(--danger_bg);
  color: var(--white_txt);
}

.bg_primary {
  background: var(--green_text);
}

.border_primary {
  border: 1px solid var(--green_text);
}

.bg_default {
  background-color: var(--black_text_light);
}

.border_default {
  border: 1px solid var(--black_text_light);
}

.btn_stc {
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--font_bold_2);
  border-radius: 4px;
  padding: 8px 16px !important;
}

.count_silver {
  color: var(--count_silver);
  font-weight: 600;
}

.count_bronze {
  color: var(--count_bronze);
  font-weight: 600;
}

.navbar,
.border_b_E2E7EB {
  border-bottom: 1px solid var(--table_bg);
}

.circle_award {
  width: 28px;
  height: 28px;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 12px rgba(54, 69, 79, 0.16);
  position: relative;
  border-radius: 50%;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../media/Vector.svg");
  background-repeat: no-repeat;
}

.select::-ms-expand {
  display: none; /* Hide default arrow in IE10+ */
}

.select_darck {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../media/vector_dark.svg");
  background-repeat: no-repeat;
}

.select_darck::-ms-expand {
  display: none; /* Hide default arrow in IE10+ */
}

.line_h_1 {
  line-height: 100%;
}

.user_icons {
  width: 210px;
  height: 40px;
  position: relative;
}

.score_tbl {
  height: 90px;
  border-right: 1px solid var(--table_bg);
}

.zindex_1 {
  position: absolute;
  left: 0;
}

.zindex_2 {
  position: absolute;
  left: 20px;
}
.zindex_3 {
  position: absolute;
  left: 40px;
}
.zindex_4 {
  position: absolute;
  left: 60px;
}
.zindex_5 {
  position: absolute;
  left: 80px;
}

.zindex_6 {
  position: absolute;
  left: 140px;
  top: 9px;
}

.verified_sticker {
  background: var(--green_bg_verif_stick);
  color: var(--green_text);
  border-radius: 16px;
}

.finished_sticker {
  background: var(--finished_sticker);
  color: var(--active_txt);
  border-radius: 16px;
}

.circled_div {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #fafbfd;
  position: absolute;
  left: 100px;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ps_abs_r_b {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.b_rds_20 {
  border-radius: 20px;
}

.w_134px {
  width: 134px;
}

.topic_bg {
  background: #d6e8f3;
}

.ps_abs_r_t {
  position: absolute;
  right: 20px;
  top: 15px;
}

.ps_abs_t5_r5 {
  position: absolute;
  top: 5px;
  right: 9px;
}

.ps_abs {
  position: absolute;
}

.score_icon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ps_abs_r12_t8 {
  position: absolute;
  right: 12px;
  top: 8px;
}

.ps_rel {
  position: relative;
}

.w_60 {
  width: 50px;
  text-align: center;
  white-space: nowrap;
}

.my_animation {
  animation: example 4s linear infinite;
}

.ps_sticky_t_1 {
  position: sticky;
  top: -1px;
}

.ps_sticky_t_35 {
  position: sticky;
  top: 38px;
  bottom: -1px;
  background-color: #f5f6f8;
  z-index: 9;
}

.ps_sticky_t_35 > th {
  color: var(--blue_text) !important;
}

.nav-link {
  color: var(--black_text_light);
}

.none_hover:hover {
  color: var(--black_text);
  outline: 5px solid white;
}

.none_hover:active {
  color: var(--black_text);
  outline: 5px solid white;
}

.none_hover {
  color: var(--black_text) !important;
  border-radius: 0 !important;
  outline: 5px solid white;
  margin-right: 7px;
}

.active {
  font-weight: 600;
  color: var(--black_text_light);
}

.rotateimg180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tbl {
  max-height: 698px;
}

.color_hr {
  color: var(--table_bg);
}

.border_bottom {
  border-bottom: 1px solid var(--table_bg);
  padding-bottom: 1rem;
}

tr {
  border: 1px solid var(--table_bg);
}

th {
  border-bottom: 1px solid var(--table_bg);
  vertical-align: middle;
}
thead {
  background: #fafbfd;
}

td {
  border-bottom: 1px solid var(--table_bg);
  vertical-align: middle;
  /* text-align: center; */
}

.tbl_overf_s {
  height: 560px;
  overflow-y: scroll;
}

.tbl_overf_s::-webkit-scrollbar {
  width: 5px;
}

.tbl_overf_s::-webkit-scrollbar-thumb {
  background: #90a0aa;
  border-radius: 10px;
  height: 10px;
  cursor: pointer;
}

.tbl_overf_s::-webkit-scrollbar-track {
  background: #f5f6f8;
}

.border_none_sm {
  border-right: 1px solid var(--table_bg);
}

.d_none_700 {
  display: block;
}

.border_s {
  border-left: 1px solid var(--table_bg);
}

.stmc_card {
  padding: 16px;
  border-radius: 8px;
  position: relative;
}

.my_shadow {
  text-shadow: 2px 2px 4px #000000;
}

.d_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
}

.container_progress{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px; 
}

.container_progress .progress{
    position: relative;
    width:150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0);
}

.container_progress .progress h3{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    z-index: 1;
    font-weight: 500;
}

.container_progress .progress h3 span{
    font-size: 0.65em;
    font-weight: 400;
}

.container_progress .progress h4 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX( -50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
}

.container_progress .progress::before{
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
    /* position: absolute; */
}

.container_progress .progress::after{
    content: "";
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background-color: #222;
}

.container_progress .progress::before{
    background-color: var(--clr);
    transform: rotate(calc((var(--i) - 50) * 0.01turn));
}

.container_progress .progress.less::before{
    background-color: #444;
    transform: rotate(calc((var(--i) - 0) * 0.01turn)); 
}

@media (max-width: 900px) {
  .d_grid {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}

@media (max-width: 767px) {
  .d_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .d_none_750 {
    display: none;
  }
}

@media (max-width: 576px) {
  .d_none_750 {
    display: inline;
  }
}

@media (max-width: 767px) {
  .border_none_sm {
    border-right: none !important;
  }
  .navbar2 {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    padding-block: 5px !important;
  }
  body {
    padding-bottom: 100px;
  }

  .border_s {
    border: none;
  }
}

@media (max-width: 1165px) {
  .d_none_1090 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .d_none_1000 {
    display: none;
  }
}

@media (max-width: 500px) {
  .fs_sm_12 {
    font-size: 12px !important;
  }
}

@media (max-width: 1100px) {
  .ps_abs_r_b {
    bottom: 90px;
  }
}

@media (max-width: 970px) {
  .ps_abs_r_b {
    display: none;
  }

  .score_icon {
    position: absolute;
    top: 35%;
  }
}

@media (max-width: 767px) {
  .ps_abs_r_b {
    display: block;
    bottom: 20px;
  }

  .score_icon {
    position: absolute;
    top: 45%;
  }
}

@media (max-width: 468px) {
  .ps_abs_r_b {
    bottom: 80px;
  }
}

@media (max-width: 390px) {
  .d_grid {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}

@keyframes example {
  0% {
    transform: translate(90%, 0);
  }
  25% {
    transform: translate(10%, 0);
  }
  50% {
    transform: translate(-70, 0);
  }
  75% {
    transform: translate(-150%, 0);
  }
  100% {
    transform: translate(-230%, 0);
  }
}
