*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
} */ */

.container_progress{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px; 
}

.container_progress .progress{
    position: relative;
    width:150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0);
}

.container_progress .progress h3{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    z-index: 1;
    font-weight: 500;
}

.container_progress .progress h3 span{
    font-size: 0.65em;
    font-weight: 400;
}

.container_progress .progress h4 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX( -50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
}

.container_progress .progress::before{
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
    /* position: absolute; */
}

.container_progress .progress::after{
    content: "";
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background-color: #222;
}

.container_progress .progress::before{
    background-color: var(--clr);
    transform: rotate(calc((var(--i) - 50) * 0.01turn));
}

.container_progress .progress.less::before{
    background-color: #444;
    transform: rotate(calc((var(--i) - 0) * 0.01turn)); 
}
